html{
    font-family: monospace;
}

body{
    margin: 0;
    background-color: #6c757d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.overlay.--hide{
    display: none;
}

#main{
    position: relative;
    display: flex;
}

.side-left{
    position: relative;
}

.button {
    font-size: 28px;
    cursor: pointer;
    background: #fff;
    padding: 0 8px;
    display: inline-block;
    margin-top: 20px;
}

#board{
    background-color: #212529;
}

.gameover-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gameover-container.--hide{
    display: none;
}

.score-container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.counter-container{
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    color: #fff;
}

.current-score.--hide{
    display: none;
}

.side-right{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.side-right.--hide{
    display: none;
}

.side-right .overlay{
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
}

.select-container{
    text-align: center;
}

.select-body{
    display: flex;
    justify-content: space-around;
}

.select-item{
    width: 60px;
    position: relative;
    cursor: pointer;

}

.select-item.selected .overlay{
    display: block;
}

.select-item i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: 24px;
}

.select-image{
    width: 100%;
    max-height: 160px;
}

.select-title{
    color: #fff;
}